<nav class="navbar navbar-expand-lg">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav flex-row">
      @for(navbarItem of navbarItems(); track navbarItem.id){
      @if(navbarItem.icon){
      <img
        [src]="navbarItem.icon || ''"
        [alt]="navbarItem.label"
        class="w-[30px] h-[30px] mr-[10px]"
      />
      }
      <li class="nav-item mx-3 hover:cursor-pointer">
        <a
          class="hover:text-primary text-[#f7e1d7]"
          [routerLink]="navbarItem.routerLink"
        >
          {{navbarItem.label}}
        </a>
      </li>
      }
    </ul>
    <button (click)="onLogin()" class="text-primary">Accedi</button>
  </div>
</nav>
