nav{
    background-color: #B0C4B1;
}

ul li:hover{
    color:white;
    cursor: pointer;
}

.navbar-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar a{
    color: #F7E1D7
}

.navbar a:hover{
    color: #9d8189;
}