<nav class="navbar navbar-expand-lg">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav flex-row">
      @for(navbarItem of navbarItems(); track navbarItem.id){
      @if(navbarItem.icon){
      <img
        [src]="navbarItem.icon || ''"
        [alt]="navbarItem.label"
        class="navbar-icon"
      />
      }
      <li class="nav-item mx-3">
        <a [routerLink]="navbarItem.routerLink"> {{navbarItem.label}} </a>
      </li>
      }
    </ul>
  </div>
</nav>
