<div>
  <p>
    Ciao! Mi presento: sono Simona, ho 27 anni e vivo a Torino. Ho una Laurea
    Triennale in Lingue e Letterature Straniere e una Laurea Magistrale in
    Comunicazione Internazionale per il Turismo. Circa due anni fa è iniziato il
    mio percorso nel mondo della programmazione, e progressivamente ho iniziato
    ad appasionarmi allo sviluppo front-end. Tuttavia, la mia passione per le
    lingue straniere non è mai svanita, così ho iniziato a dare anche
    ripetizioni di inglese e spagnolo.
  </p>
</div>
